<div>
    <mat-toolbar class="navbar">
        <mat-icon (click)="toHome()" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span class="example-spacer"></span>
        <mat-icon (click)="toProfile()" color="primary" aria-label="Profile page button">
            person
        </mat-icon>
        
        <span class="example-spacer"></span>
        <mat-icon (click)="logout()" color="warn" aria-label="Log out button">
            logout
        </mat-icon>
    </mat-toolbar>
</div>